@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&display=swap');
@import "tailwindcss";

body{
  font-family: "MuseoModerno", sans-serif;
  /* font-family: "Playwrite HU", cursive; */
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.logo{
  font-family: "Major Mono Display", monospace;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}


.imgText{
  font-family: "Playwrite HU", cursive; 
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.hoverText:hover {
  font-weight: 900;
  color: rgb(12, 51, 181);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(23, 58, 200);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(21, 57, 203);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

/* :root[class='light'] {
  --background: #ffffff;
  --text: #000000;
}

:root[class='dark'] {
  --background: #000000;
  --text: #ffffff;
} */