@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
$primary: #7D7D7D;
$light:rgba(245, 245, 245, 0.459);
$transparent:rgba(255, 255, 255, 0);
$secondary:white;

$theme-colors: (
  "primary":   $primary,
  "light": $light,
  "transparent":$transparent,
  "secondary":$secondary,
 
);


.dropdown-toggle {
  &::after {
    display: none;
  }
}

@import "~bootstrap/scss/bootstrap.scss";

body{
  font-family: 'Outfit', sans-serif ;
}

.offcanvas {
  
  transition: transform 1.0s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7D7D7D; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

// .textBold {
//   font-size:"8vw";
//   font-weight:"900";
//   margin-top:"-5%"
// }